.about{
  .font-size-18{
    font-size: 18px!important;
  }
}
.text {
  &-block {
    background-color: #FAFAFA;
    width: auto;
    padding: 30px 25px 25px 25px;
    border-radius: 10px;

  }
  &-order{
    top: 9%;
    @include media-breakpoint-down(md) {
      position: relative!important;
      border-radius: 0;
      text-align: left;
    }
  }
  &-time{
    bottom: 0;
    left: 31%;
    @include media-breakpoint-down(md) {
      position: relative!important;
      left: 0;
      border-radius: 0;
      margin-top: 10px;
      text-align: left;
    }
  }
}
.img-circle{
   z-index: -1;
   left: 44px;
  @include media-breakpoint-down(md) {
    top: 10%;
    left: 63%;
  }
  @include media-breakpoint-down(sm) {
    left: 35%;
  }
}
.img-girl{

  position: absolute;
  right: -70px;

  @include media-breakpoint-down(lg) {
    right: -50%;
  }
  @include media-breakpoint-down(md) {
    position: relative;
    right: auto;
    width: 324px;
    left: 10px;
  }
}
.about{

  .row{
    @include media-breakpoint-down(md) {

    }
  }
  &-mh{
    min-height: 500px;
    @include media-breakpoint-down(md) {
      overflow: hidden;
      text-align: center;
      min-height: 480px;

    }
  }
}
