.blocks{
  padding-top: 126px;
  @include media-breakpoint-down(lg){
    padding-top: 60px;
  }
  .line{
    min-width: 1280px;
    margin: auto;
    img{
      width: 100%;

    }
  }
}
.block-grey{
  padding: 33px 38px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  background-color: #F2F6FA;
  min-height: 340px;
  border-radius: 10px;
  .font-size-18{
    font-size: 18px!important;
  }
  &-new {
    background-color: #272742;
    color: $white;
    height: 262px;
    padding: 33px 38px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    @include media-breakpoint-down(md) {

      flex-direction: column;
      height: 100%;
    }
    .btn {
      min-width: 160px!important;

    }
  }

  &-bg {
    @include media-breakpoint-down(sm) {
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 0;
      margin-right: -15px;
      margin-left: -15px;
      &:not(:last-child) {
        border-bottom: 1px solid #E6E6E6!important;
      }
    }
  }
}
.img-btn{
  width: 16px;
  height: 16px;
  margin-right: 7px;
}
.service-img{
  width: auto;

  img{
    width: 100%;
  }
}
.block-border{
  @include media-breakpoint-down(sm) {
    border-bottom: 1px solid #E6E6E6!important;
  }
}

.block-img-girl {
  margin: -33px -38px -33px 0;
  @include media-breakpoint-down(md) {
    margin: 0 0 -33px 0;
  }
}
.notbr {
  @include media-breakpoint-down(md) {
    br {
      display: none;
    }
  }
}