.main-block{
  background: linear-gradient(231deg,
          rgba(0, 0, 0, 0.19) -15.05%,
          rgba(0, 172, 255, 0.19) -15.05%,
          rgba(255, 255, 255, 0.19) 70.22%,
          rgba(40, 49, 255, 0.19) 150.69%);
  .card {
    @include media-breakpoint-down(lg) {
      background-color: transparent;
      border: none;
    }
  }
}
.light{
  border-radius: 50%;
  background-color: #F9F9F9;
  padding: 7px 11px;
  margin-right: 5px;
}