.quick{
  .row, .col-24, .border-bottom{
    @include media-breakpoint-down(md) {
      border: none!important;
    }
  }
}

.radio__list {
  .radio {
    padding: 17px 20px;
    width: 100%;
    cursor: pointer;
    border: 1px solid transparent;

    img {
      margin-right: 11px;
      width: 19px;
      height: 19px;

    }

    span {
      margin-right: 9px;
      font-size: 20px;

    }

    &__block {
      input[type="radio"]:checked ~ label {
        border: 1px solid #E3E3E3;
        border-radius: 6px;

        &::after {
          position: absolute;
          content: "";
          background: url("../img/arrow.svg") no-repeat;
          background-position: center;
          width: 18px;
          height: 18px;
          right: 10%;
          top: 35%;

        }
      }
    }

  }
}

.number{
  background: linear-gradient(137.68deg, #F9796F 23.83%, #0061FE 171.03%);;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
  margin-right: 11px;
}
.bootstrap-select {
   > .dropdown-toggle.bs-placeholder {
     color: $dark;
     &:hover, &:focus, &:active {
       color: $dark;
     }
  }
  .btn{
    &-white{
      padding: 17px 20px!important;
      border: 1px solid #E3E3E3!important;
      border-radius: 6px!important;
      font-weight: 500!important;
      box-shadow: none!important;
      &:focus{
        outline: none!important;
        box-shadow: none!important;
      }
    }
  }
   .dropdown-menu{
     border-top-left-radius: 0!important;
     border-top-right-radius: 0!important;

     &.show {
      padding: 0!important;
    }
     .inner{
       max-height: 160px;
       &::-webkit-scrollbar {
         width: 4px;
       }
       &::-webkit-scrollbar-thumb {
         background-color:#C4C4C4;
       }
     }
   }
  .dropdown-item{
    padding: 11px 20px!important;
    border-bottom: 1px solid #E3E3E3!important;
    &:hover, &.active, &.selected {
      background-color: #FAFAFA;
      color:$dark;
    }
  }
  .dropdown-toggle{
    &::after{
      content:"";
      position: relative;
      border:none;
      background: url("../img/arrow.svg") no-repeat;
      background-position: center;
      width: 24px;
      height: 24px;
      top: 0;
      right: 0;
      transform:rotate(90deg);
      transform-origin: center;
      transition: all .5s;

    }
    &.show::after{
      transform:rotate(-90deg);
    }
  }
  .filter-option-inner-inner{
    span{
      &::before{
        font-size: 20px;
      }
    }
  }
  img{
    width: 19px;
    height: auto;
  }
}
.js-btn-number{
  border:1px solid #B6BCC3;
  background-color: #EEEFF1;
  width: 30px;
  height: 30px;
  border-radius: 19px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  &[data-type="plus"]{
    right:45px;
    z-index: 100;
    &:hover{
      color: $info;
    }
    &:active{
      color: $info!important;
    }
  }
  &[data-type="minus"]{
    left:45px;
    z-index: 100;
    &:hover{
      color: $info;
    }
    &:active{
      color: $info!important;
    }
  }
}
.js-input-number{

  border-radius: 0.6rem!important;
  &:focus{
    box-shadow: none!important;
    outline: none!important;
    border-color: $primary;
  }
}
.price-block{
  margin-left: -37px;
}
.form-switch{
  .form-check-input{
    background-color: #B8B8B8;
    width: 3.125rem;
    border: 1px solid #B8B8B8;
    height: 24px;
    &, &:focus{
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffffff'/%3e%3c/svg%3e");
    }
    &:checked {
      background-color: #00AE3B;
      border-color:  #00AE3B;
    }
  }
}
.number-width{
  width: 250px;
  margin-right: 20px;
  margin-left: -28px;
  @include media-breakpoint-down(sm){
    width: 230px;
  }
}
.promocode{
  display: flex;
  @include media-breakpoint-down(md){
    display: none;
  }

}


.catalog{
  .dropdown {
    padding-top: 20px;
    &-menu{
      position: static!important;
      box-shadow: none!important;
      border: 1px solid #E4E4E4;
      &.show {
        border-top: 1px transparent solid;
        margin-top: -3px!important;
        width: 290px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        animation-name: drop1;
        animation-duration: 0.3s;
        animation-timing-function: ease-in;
        transform-origin:center top;
        transform: scaleY(1);
        @include media-breakpoint-down(xl){
          width: 100%;
        }
      }

    }

    &-item {
      padding-left: 18px !important;
      padding-right: 18px !important;
      height: 56px;
    }

    &-toggle {
      position: relative;
      width: 290px;
      height: 50px;
      font-weight: 500;
      border: 1px #E4E4E4 solid;
      border-radius: 6px;
      text-align: start;
      padding-left: 18px !important;
      padding-right: 18px !important;
      @include media-breakpoint-down(xl){
        width: 100%;
      }
      &::after {
        content: "";
        position: absolute;
        border: none;
        background: url("../img/arrow.svg") no-repeat center;
        width: 24px;
        height: 24px;
        top: 12px;
        right: 15px;
        transform: rotate(90deg);
        transform-origin: center;
        transition: all .5s;
        margin-bottom: -12px;
      }

      &.show{
        border-bottom: 1px transparent solid;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        &::after {

          transform: rotate(-90deg);
        }
      }



    }
  }
}

.header .catalog{
  margin-right: 0;
  margin-left: 0;
  .dropdown {
    margin-right: 0!important;
    margin-left: 0!important;
    &-toggle{
      width: 100%!important;
      &::after{
        position: absolute!important;
        top:12px;
        right: 15px;
      }
    }
    &-menu.show{
      width: 100%!important;
    }
  }
}
@keyframes drop1 {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.autoserv{
  background-color: #F9F9F9;
  .dropdown {
    &-menu{
      border: 1px solid transparent;
      &.show {
        border-color: transparent;

      }
    }
    &-toggle {
      background-color: $white;
      border-color:transparent;
    }
  }
}


.promo-mobile {
  height: 50px;
  background: #FDF2EF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 2px;
  padding-right: 8px;
  padding-left: 20px;
  @include media-breakpoint-down(sm)
  {
    padding-left: 8px;
  }
  &-img{
    width: 18px;
    img{
      width: 18px;
    }
  }

  .btn{
    border-radius: 10px!important;
    padding: 0.3rem 0.92rem!important;
   &, .btn-white{
     box-shadow: none!important;
   }
  }


}
.promo-text {
    padding-left: 8px;
}


