.lk-home{
  background: linear-gradient(231deg, rgba(131, 131, 131, 0.19) -15.05%, rgba(3, 155, 229, 0.19) -15.05%, rgba(219, 219, 219, 0.19) 70.22%, rgba(255, 255, 255, 0.19) 150.69%);
  @include media-breakpoint-down(sm) {
    background: $white;
    &::before {
      position: absolute;
      content: "";
      background: linear-gradient(231deg, rgba(0, 0, 0, 0.19) -15.05%, rgba(0, 172, 255, 0.19) -15.05%, rgba(255, 255, 255, 0.19) 70.22%, rgba(40, 49, 255, 0.19) 150.69%);
      top: 0;
      left: 0;
      height: 420px;
      width: 100%;
      z-index: 0;
    }
    > div {
      position: relative;
      z-index: 2;

    }
  }
  .card-img-overlay{
    background: linear-gradient(360deg, rgba(49, 56, 96, 0.76) 0%, rgba(21, 25, 40, 0.88) 100%);

    @include media-breakpoint-down(md) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .bootstrap-select {
    width: 180px!important;
    justify-content: flex-end;
    .btn{
      &-light{
        background-color: transparent;
        border: 1px solid transparent!important;
        box-shadow: none!important;
        font-weight: 500!important;
        padding: 0;
        margin-right: -10px;
        &:focus{
          outline: none!important;
        }
      }
    }
    .dropdown-menu{
      top: 10px!important;
      border: none!important;

      &.show {
        border-bottom: 1px solid #E3E3E3!important;
        padding: 0!important;
        right: 17px!important;
        border-radius: 4px!important;
        box-shadow: none!important;


      }
      &.inner > li.selected {
        display: none;
      }
    }
    .dropdown-item{
      padding: 17px 20px!important;
      border: 1px solid #E3E3E3!important;
      border-bottom: none!important;
      &:hover, &.active, &.selected {
        background-color: #FAFAFA;
        color:$dark;
      }
    }
    .dropdown-toggle{
      width: auto!important;
      &::after{
        content:"";
        position: relative;
        border:none;
        background: url("../img/arrow.svg") no-repeat;
        background-position: center;
        width: 24px;
        height: 24px;
        top: 0;
        right: 104%;
        transform:rotate(90deg);
        transform-origin: center;
        transition: all .5s;
      }

      &.show::after{
        transform:rotate(-90deg);
      }
    }
    .filter-option-inner-inner{
      span{
        &::before{
          font-size: 20px;
        }
      }
    }
    img{
      width: 19px;
      height: auto;
    }
  }
}
.nav{
  &-menu{

    .nav{
      &-link{
        padding: 0.6rem 1rem!important;
        border-left:2px solid transparent;
        &:hover, &.active{
          border-left-color:$primary;
          color: $primary;
          span::before{
            color:$primary;
          }
        }
        span::before{
          color:$secondary;
          font-size: 20px;
        }
      }
    }
  }
}

.img-order{
  padding: 6px 6px;
  background-color: #FAFAFA;
  border-radius: 4px;

}
.order-item{
  @include media-breakpoint-down(md) {
    text-align: center;
    border: 1px dashed #BFBFBF!important;
    border-radius: 10px;
    margin: 10px 20px 20px 20px!important;
    .status{
      border-top: 1px dashed #BFBFBF;
    }

  }
  @include media-breakpoint-down(sm) {
    margin-left: 0!important;
    margin-right: 0!important;

  }
}
.price{
  @include media-breakpoint-down(md) {
    color:$black!important;
  }

}

.warning-block{
  background: linear-gradient(97.06deg, #FF6C6C -71.58%, #2831FF 200.73%);
  border-radius: 10px;
  padding: 35px 25px;
  margin-top: 15px;
  @include media-breakpoint-down(sm) {
    margin-left: -17px!important;
    margin-right: -17px!important;
    border-radius: 0;
    padding: 15px 10px;

  }
}
.add-balance{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 75px;
  height: 30px;
  border: 1px solid #F1F1F1;
  cursor: pointer;
  &.active, &:hover{
    border-color: $primary;
    color: $primary;
  }
}
.bonus{
  border: 1px dashed #BFBFBF;
  margin-top: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 30px 0 30px 25px;

  @include media-breakpoint-down(md) {
    padding-right: 0;
    border:none;
    margin-top: 20px;

  }
  @include media-breakpoint-down(sm) {
    padding: 0;
  }
}
.img-pay{
  margin: -30px 0;
  @include media-breakpoint-down(xl) {
    margin-top: 0;

  }
  @include media-breakpoint-down(md) {
    margin-top: 20px;

  }
}


.card-sm{
  @include media-breakpoint-down(sm) {
    margin: 0 -15px;
    border-radius: 0;
    overflow: hidden;
    border-left: none;
    border-right: none;

  }
}
.card-item{
  @include media-breakpoint-down(sm) {
    border: 1px dashed #BFBFBF!important;
    border-radius: 10px;
    margin: 10px 15px 20px!important;
    padding: 4px 20px!important;
    .item-success{
      color:$success!important;
      font-size: 18px!important;
    }
    .item-grey{
      color:$secondary!important;
    }
  }
}
.add-card{
  padding-bottom: 1px;
}
.card-baner{
  &-left{
    position: relative;
    background-size: cover!important;
    background: url("../img/img1.jpg") no-repeat center;
    z-index: 0;
    &::before{
      position: absolute;
      background: linear-gradient(360deg, rgba(49, 56, 96, 0.76) 0%, rgba(21, 25, 40, 0.88) 100%);
      content: "";
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: -1;
      border-radius: 10px;
    }

  }
  &-right{
    position: relative;
    background-size: cover!important;
    background: url("../img/img2.png") no-repeat center;
    z-index: 0;
    &::before{
      position: absolute;
      background: linear-gradient(360deg, rgba(49, 56, 96, 0.76) 0%, rgba(21, 25, 40, 0.88) 100%);
      content: "";
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: -1;
      border-radius: 10px;
    }

  }

}
.card-menu{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.menu-left{
  .card{
    width: 180px;
  }
}
.block-link{
  border: 1px solid transparent;
  &:hover{
    border: 1px solid #E3E3E3;
  }
}
.badge{
  background-color:#EDEDED;
  border-radius: 4px!important;
}



