/*
.navbar-inverse {
  margin-bottom: 0;

  border-color: transparent;
  background-color: darken($color-dark, 4%);

  .navbar-nav {
    > .active > a {
      background-color: $color-primary-dark;

      &:hover,
      &:focus {
        background-color: $color-primary-light;
      }
    }

    > li > a {
      transition: background-color 0.5s;

      @include sm-min {
        border-radius: 4px;
      }
      @include sm {
        text-align: center;
      }

      &:hover,
      &:focus {
        background-color: $color-primary;
      }
    }
  }
}
.navbar-left .nav-link{
  margin: 0rem 2rem;
}
.navbar-left .nav-link a{
  color: $color-primary;
}
.dropdown-toggle{
  border: 3px black;
}
.navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;

  margin-right: 0;
}

.navbar-left {
  @include sm-min {
    li {
      margin: 5px 5px 5px 0;
    }
  }
  @include sm {
    margin-bottom: 0;
  }
}

.navbar-right {

  @include sm-min {
    li {
      margin: 5px 0 5px 5px;
    }
  }
  @include sm {
    margin-top: 0;
  }
}
.card-title{
  color:#3b7fc8;
  font-weight: bold;
}
*/

.card-columns {
  @include media-breakpoint-only(xs) {
    column-count: 1;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
  @include media-breakpoint-only(xxl) {
    column-count: 4;
  }
}
.flickity-slider{
  .card-img,
  .card-img-top{
    width: auto;
    max-width: calc(100vw - 30px);
  }
}