html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1 0 auto;

}

footer {
  flex: 0 0 auto;
}




input::-webkit-input-placeholder {
  font-weight: 500;
}

button{
  font-weight: $font-weight-normal;
}
.a{
  &-info {
    &:hover, &.active {
      color: $info !important;
      background-color: transparent !important;
    }
  }
  &-blue{
    color: $info;
    &:hover, &.active {
      color: $info !important;
    }
  }
}
.content{
  &-dark{
    color:$black!important;
    a{
      color:$black!important;
    }
  }
  p{
    color:$secondary;
    margin-bottom:0!important;
    line-height: 26px;
  }
  b{
    color:$black;

  }
  a{
    color:$secondary;
    &:hover{
      text-decoration: underline;
    }

  }
  ul{
    padding-left: 0;
    margin-bottom: 0;

    li{
      margin-left: 5px;
      padding-left: 5px;
      color: #7A7A7A;
      list-style-type: "-";
      line-height: 26px;
    }
  }
}

.list-group-item-action{
  border: 1px solid transparent;
  margin-top:0 ;
  border-top-width: 0;
  &:hover, &:focus ,&:active, &.active{
    border: 1px solid transparent;
    background-color: transparent;
    margin-top:0 ;
    border-top-width: 0;
  }
}

.btn {
  &:focus {
  outline: none !important;
  box-shadow: none !important;
  }

  &-primary {
    &:hover {
      background-color: shade-color($primary, $btn-active-bg-shade-amount);
    }
    &, &:hover, &:focus, &:active {
      color: $white;
      //background-color: shade-color($primary, $btn-active-bg-shade-amount);
    }
  }

  &-secondary {
    background-color: #404040;
    &:hover {
      background-color: shade-color(#404040, $btn-active-bg-shade-amount);
    }
    &, &:hover, &:focus, &:active {
      color: $white;
    }
  }

  &-white {
    &:hover {
      background-color: #F8F8F8;
      border-color: #F8F8F8;
    }
  }

  &-fast {
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      background: url(../img/arrow.svg) no-repeat center;
      width: 18px;
      height: 18px;
      right: 8px;
      top: 28%;
    }
  }
}

.btn-custom-md{
  position: absolute;
  bottom: 10%;
  left: 25%;
}


.form-control{
  box-shadow: none!important;
  &:focus{
    border: 1px solid #E3E3E3!important;
    box-shadow: none!important;
  }
}
.text-truncate-promo{
  padding-right: 140px;
}
.form-check-input:focus {
  outline: none!important;
  box-shadow: none!important;
}
.input-icon{
  padding-left: 2rem;
  padding-right: 2rem;
}

.nav-cabinet-tabs {
  .nav-link {
    position: relative;
    background: transparent;
    border: none;
    font-weight: 500;

    &::after {
      transition: $transition-base;
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: calc(100% - #{2 * $nav-link-padding-x});
      border-bottom: solid 1px transparent;
      transform: translateY(1px);
    }

    &.active, &:hover {
      &::after {
        border-bottom-color: $primary;
      }
    }
  }
}
.flickity-prev-next-button {
  top: 100%;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 10px;
  background-color: #F4F4F4;
  .flickity-button-icon {
    position: absolute;
    left: 30%;
    top: 30%;
    width: 40%;
    height: 40%;
  }
  &.previous {
    left: 45%;
    @include media-breakpoint-down(md) {
      left: 43%;
    }
    @include media-breakpoint-down(sm) {
      left: 40%;
    }
  }
  &.next {
    right: 45%;
    @include media-breakpoint-down(md) {
      right: 43%;
    }
    @include media-breakpoint-down(sm) {
      right: 40%;
    }
  }
}
.flickity-button:hover {
  background: #F4F4F4;
  cursor: pointer;
}


.pay {
  .tab-pane {
    @include media-breakpoint-down(sm) {
      display: block !important;
      opacity: 1 !important;
    }
  }
}

.js-slider:after {
  content: 'flickity';
  display: none; /* hide :after */
}

@include media-breakpoint-up(lg) {
  /* disable Flickity for large devices */
  .js-slider:after {
    content: '';
  }
}
.btn:hover, .btn:active, .btn:focus {
  outline: 0 !important;
}
@include media-breakpoint-down(xl) {
  .btn-primary.btn-nohover:hover{
    background-color: $primary !important;
    color: $white !important;;
  }
}

