[class^="icon-"], [class*=" icon-"] {
  font-size: 22px;
  display: inline-block;
  vertical-align: middle;
  //margin-top: -2px;
  transform: translateY(-2px);
}

.icon-visit:before {
  font-size: 26px;
}
.icon-subs-sm:before {
  color: #C2CFE0;
}
.icon-come:before {
  font-size: 24px;
}
.icon-balance:before {
  color: #7a7a7a;
}
.icon-list-plus:before {
  font-size: 14px;
}
