@font-face {
  font-family: 'icomoon';

  /* TODO пути заменены вручную на правильные ! */
  src: url('../fonts/fonts/icomoon.eot?4jh2pr');
  src: url('../fonts/fonts/icomoon.eot?4jh2pr#iefix') format('embedded-opentype'),
       url('../fonts/fonts/icomoon.ttf?4jh2pr') format('truetype'),
       url('../fonts/fonts/icomoon.woff?4jh2pr') format('woff'),
       url('../fonts/fonts/icomoon.svg?4jh2pr#icomoon') format('svg');
  /* --- */

  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* ! сюда вставлять стили конкретных иконок сформированных на icomoon.io/app */
.icon-visit:before {
  content: "\e900";
  color: #c2cfe0;
}
.icon-views:before {
  content: "\e901";
  color: #c9d5e4;
}
.icon-subs-sm:before {
  content: "\e902";
  color: #f9796f;
}
.icon-star:before {
  content: "\e903";
  color: #7a7a7a;
}
.icon-settings:before {
  content: "\e904";
  color: #7a7a7a;
}
.icon-save:before {
  content: "\e905";
  color: #c2cfe0;
}
.icon-people:before {
  content: "\e906";
  color: #7a7a7a;
}
.icon-no-active:before {
  content: "\e907";
  color: #c2cfe0;
}
.icon-list-plus:before {
  content: "\e908";
  color: #7a7a7a;
}
.icon-link:before {
  content: "\e909";
  color: #c2cfe0;
}
.icon-like-up:before {
  content: "\e90a";
  color: #c1cfdf;
}
.icon-like:before {
  content: "\e90b";
  color: #c2cfe0;
}
.icon-info:before {
  content: "\e90c";
  color: #bfbfbf;
}
.icon-home:before {
  content: "\e90d";
  color: #7a7a7a;
}
.icon-history:before {
  content: "\e90e";
  color: #c2cfe0;
}
.icon-help:before {
  content: "\e90f";
  color: #7a7a7a;
}
.icon-heart:before {
  content: "\e910";
  color: #7a7a7a;
}
.icon-exit:before {
  content: "\e911";
  color: #7a7a7a;
}
.icon-email:before {
  content: "\e912";
  color: #cbcbcb;
}
.icon-comments:before {
  content: "\e913";
  color: #c2cfe0;
}
.icon-come:before {
  content: "\e914";
}
.icon-broad:before {
  content: "\e915";
  color: #c2cfe0;
}
.icon-balance:before {
  content: "\e916";
  color: #f9796f;
}
.icon-apps:before {
  content: "\e917";
  color: #7a7a7a;
}

