h1{
  @include media-breakpoint-down(xl) {
    font-size: $font-size-30 * $font-size-multiplier-xl;
  }
  @include media-breakpoint-down(lg) {
    font-size: $font-size-30 * $font-size-multiplier-lg;
  }
  @include media-breakpoint-down(md) {
    font-size: $font-size-30 * $font-size-multiplier-md;
  }
  @include media-breakpoint-down(sm) {
    font-size: $font-size-30 * $font-size-multiplier-sm;
  }
}
h2{
  @include media-breakpoint-down(xl) {
    font-size: $font-size-24 * $font-size-multiplier-xl;
  }
  @include media-breakpoint-down(lg) {
    font-size: $font-size-24 * $font-size-multiplier-lg;
  }
  @include media-breakpoint-down(md) {
    font-size: $font-size-18;
  }
}
h4{
  @include media-breakpoint-down(xl) {
    font-size: $font-size-18 * $font-size-multiplier-xl;
  }
  @include media-breakpoint-down(lg) {
    font-size: $font-size-14;
  }
}
.font-size{
  &-36 {
    font-size: $font-size-36;
  }
  &-30 {
    font-size: $font-size-30;
    @include media-breakpoint-down(xl) {
      font-size: $font-size-30 * $font-size-multiplier-xl;
    }
    @include media-breakpoint-down(lg) {
      font-size: $font-size-30 * $font-size-multiplier-lg;
    }
    @include media-breakpoint-down(md) {
      font-size: $font-size-30 * $font-size-multiplier-md;
    }
    @include media-breakpoint-down(sm) {
      font-size: $font-size-30 * $font-size-multiplier-sm;
    }
  }
  &-24{
    font-size: $font-size-24;
    @include media-breakpoint-down(xl) {
      font-size: $font-size-24 * $font-size-multiplier-xl;
    }
    @include media-breakpoint-down(lg) {
      font-size: $font-size-24 * $font-size-multiplier-lg;
    }
    @include media-breakpoint-down(md) {
      font-size: $font-size-18;
    }
  }

  &-18 {
    font-size: $font-size-18;
    @include media-breakpoint-down(lg) {
      font-size: $font-size-18 * $font-size-multiplier-lg;
    }
    @include media-breakpoint-down(md) {
      font-size: $font-size-14;
    }
  }
  &-14 {
    font-size: $font-size-14;
  }
  &-13 {
    font-size: $font-size-13;
  }
  &-12 {
    font-size: $font-size-12;
  }
}

.line-height{
  &-27{
    line-height: 112.5%;
  }
  &-48{
    line-height: 50%;
  }
  &-30{
    line-height: 125%;
  }
  &-32{
    line-height: 152%;
  }

}
