a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
.footer{
  background-color: $dark;
  padding-top: 57px;
  padding-bottom: 40px;
  @include media-breakpoint-down(md) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  ul {
    margin-bottom: 0!important;
  }
}
.bubble{
  position: relative;
  background-color: #ECECEC;
  border-radius: 4px;
  padding: 10px 16px;
  &::after{
    position: absolute;
    content: "";
    background-position: center;
    background-image: url("../img/polygon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    top: 40%;
    left: -5px;
    width: 6px;
    height: 10px;
  }
}
.pay{
  &-block{
    position: relative;
    background: #414141;
    border-radius: 4px;
    width: 50px;
    height: 30px;
    margin-right: 9px;
    margin-top: 9px;
    img{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
}
.footer-logo {
  letter-spacing: 0.2em;
}
