.header {
  .dropdown{
    span{
      margin-right: 6px;

      @include media-breakpoint-down(lg) {
        margin-right: 3px;
      }
    }
    &-item{
      &:hover span::before{
        color: $primary;
      }
    }
    &-menu{
      border-top-left-radius: 0!important;
      border-top-right-radius: 0!important;
      margin-top: 0.39rem;

      &.columns-2 { columns: 2; }
      &.columns-3 { columns: 3; }
      &.columns-4 { columns: 4; }
      &.columns-5 { columns: 5; }
    }
    &-toggle{
      &::after{
        content:"";
        position: relative;
        border:none;
        background: url("../img/arrow.svg") no-repeat center;
        width: 24px;
        height: 24px;
        top: 0;
        right: 7px;
        transform:rotate(90deg);
        transform-origin: center;
        transition: all .5s;
        margin-bottom: -12px;

      }
      &.show::after{
        transform:rotate(-90deg);
      }
      &:focus{
        outline: none!important;
      }
    }

  }
  li.dropdown:last-child .dropdown-menu,  li.dropdown:nth-last-child(2) .dropdown-menu{
    right: 0;
    left: auto;
  }

  &__padding {
    padding-top: 150px;

    @include media-breakpoint-only(lg) {
      padding-top: 120px;
    }
    @include media-breakpoint-down(lg) {
      padding-top: 50px;
      &--account {
        padding-top: 100px;
      }
    }
  }
}

.menu{
  &-main{
    height: 100px;
    .dropdown{
      &-item{
        padding: 0.6rem 1.5rem!important;
      }

    }
    .navbar-brand {
      font-weight: 700;
      letter-spacing: 2px;
    }
   .nav-link{
      &:focus{
        outline: none!important;
      }
    }

    @include media-breakpoint-only(lg) {
      height: 80px;
    }
    @include media-breakpoint-down(lg) {
      height: 50px;
      padding: 0;
      .navbar-brand {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
    }
  }

  &-other{
    height: 50px;
    .nav{
      &-link{
        padding-left: 0 !important;
        padding-right: 0 !important;
        img{ margin-right: 10px; }

        @include media-breakpoint-down(xl) {
          font-size: 0.75rem;
          img{ margin-right: 6px; }
        }
      }
    }

    @include media-breakpoint-down(xl) {
      height: 40px;
    }
  }

  &-account {
    height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: solid 2px $primary;
  }
}

.avatar{
  &::before{
    content: "";
    position: relative;
    border: none;
    background: url(../img/arrow.svg) no-repeat center;
    width: 24px;
    height: 24px;
    top: 0;
    right: 0;
    transform: rotate(90deg);
    transform-origin: center;
    transition: all .5s;
    margin-bottom: -12px;
    display: inline-block;
  }
  &.show::before{
    transform:rotate(-90deg);
  }
}
.img-avatar{
  height: 50px;
  border-radius: 50%;
  width: 50px;
  @include media-breakpoint-down(lg) {
    height: 28px;
    width: 28px;
  }
}

.navbar-primary {
  .nav-link {
    &.active, &:hover, &:active, &:focus {
      color: $primary !important;
      span:before {
        color: $primary !important;
      }
    }
  }
}
.line-head{
  margin: 25px -15px;

  content: "";
  left: 0;
  right: 0;
  border: 1px solid #E4E4E4;

}
.block-promo{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 60px;
  background: #FDF2EF;
  @include media-breakpoint-down(lg){
    display: none!important;
  }
}
@include media-breakpoint-up(lg){
  .block-promo:not([style*="display:none"]) + .header {
    top: 60px;
  }
  .block-promo:not([style*="display:none"]) + .header + .header__padding {
    padding-top: 210px;
  }
}

.promo {
  &-color {
    color:#EF764E;
  }
  &-img {
    padding-right: 8px;
    img{
      height: 44px;
    }
  }
  &-discount {
    display: flex;
    margin-right: 40px;
    @include media-breakpoint-down(xl){
      margin-right: 20px;
    }
    &-count {
      font-weight: 800;
      font-size: 50px;
      line-height: 40px;
      padding-right: 14px;
      @include media-breakpoint-down(xl){
        padding-right: 7px;
      }
    }
    &-text {
      line-height: 16px;
    }
    &-copy {
      padding: 4px 11px;
      background-color: $white;
      border: 1px dashed $black;
      border-radius: 50px;
      margin-right: 8px;
      span {
        letter-spacing: 0.16em;
      }
    }
  }
  &-time{
    font-weight: 600;
    background-color: $white;
    padding: 5px 21px;
    border-radius: 10px;
    max-height: 30px;
    margin-right: 5px;
    margin-left: 14px;
    @include media-breakpoint-down(xl){
      margin-left: 7px;
    }
  }
  &-close{
    display: flex;
    background-color: $white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    max-height: 30px;
  }
}
.btn-copy{
  font-weight: 500;
  padding: 0.3rem 1rem!important;
}
.promo-copy {
  line-height: 40px;
  border-radius: 10px;
  background: #595959;
  color: #fff;
  position: fixed;
  padding: 8px 10px;
  z-index: 99;
  bottom: 30px;
  left: 50%;
  margin-left: -120px;
  display: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 15px;
}