.modal-main{
  &-header {
    display: block;
    position: relative;
    text-align: center;
    border: 0;

    p {
      margin-top: 30px;
    }
    @include media-breakpoint-down(md) {
      border-bottom: 1px solid #E4E4E4;
    }
  }
  &-footer {
    justify-content: center !important;
    border: 0;
    .btn{
      margin-top: 48px;
      margin-bottom: 42px;
    }
    @include media-breakpoint-down(md) {
      border-top: 1px solid #E4E4E4;
    }
  }

  &-body {
    max-height: 350px;
    margin-left: 30px;
    margin-right: 30px;
    padding-right: 56px;
    padding-left: 40px;
    &::-webkit-scrollbar {
      width: 4px;
      height: 36px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #C4C4C4;
    }
    @include media-breakpoint-down(md) {
      padding-right: 30px;
      padding-left: 30px;
      .card-body{
        border-bottom: none!important;
      }
    }
    @include media-breakpoint-down(md) {
      margin-left: 15px;
      margin-right: 15px;
    }
  }


}

.btn-close{
  position: absolute;
  background-image: escape-svg(url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">  <path d="M1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L1.70711 0.292893ZM16.2929 17.7071C16.6834 18.0976 17.3166 18.0976 17.7071 17.7071C18.0976 17.3166 18.0976 16.6834 17.7071 16.2929L16.2929 17.7071ZM17.7071 1.70711C18.0976 1.31658 18.0976 0.683417 17.7071 0.292893C17.3166 -0.0976311 16.6834 -0.0976311 16.2929 0.292893L17.7071 1.70711ZM0.292893 16.2929C-0.0976311 16.6834 -0.0976311 17.3166 0.292893 17.7071C0.683417 18.0976 1.31658 18.0976 1.70711 17.7071L0.292893 16.2929ZM0.292893 1.70711L16.2929 17.7071L17.7071 16.2929L1.70711 0.292893L0.292893 1.70711ZM16.2929 0.292893L0.292893 16.2929L1.70711 17.7071L17.7071 1.70711L16.2929 0.292893Z" fill="#C2CFE0"/> </svg>'));
  top: 30px;
  right: 30px;
  &:focus{
    outline: none!important;
    box-shadow: none!important;
  }

  &-offcanvas {
    top: 15px;
    right: 15px;
    width: 22px;
    height: 22px;
    opacity: 1;
    background-size: auto;
    background-image: escape-svg(url('data:image/svg+xml,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">  <path d="M1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L1.70711 0.292893ZM16.2929 17.7071C16.6834 18.0976 17.3166 18.0976 17.7071 17.7071C18.0976 17.3166 18.0976 16.6834 17.7071 16.2929L16.2929 17.7071ZM17.7071 1.70711C18.0976 1.31658 18.0976 0.683417 17.7071 0.292893C17.3166 -0.0976311 16.6834 -0.0976311 16.2929 0.292893L17.7071 1.70711ZM0.292893 16.2929C-0.0976311 16.6834 -0.0976311 17.3166 0.292893 17.7071C0.683417 18.0976 1.31658 18.0976 1.70711 17.7071L0.292893 16.2929ZM0.292893 1.70711L16.2929 17.7071L17.7071 16.2929L1.70711 0.292893L0.292893 1.70711ZM16.2929 0.292893L0.292893 16.2929L1.70711 17.7071L17.7071 1.70711L16.2929 0.292893Z" fill="#{$dark}"/> </svg>'));
  }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .offcanvas-backdrop {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background: rgba($black, 0.5);
    &.show {
      opacity: 1 !important;
    }
  }
}

.modal-header-promo {
  background-color: #EF764E;
  padding: 12px 1rem 20px 1rem!important;
  line-height: 18px;
  &-img {
    margin-right: 12px;
    img {
      width: 32px;
    }
  }
  .btn-close {
    position: absolute;
    background-image: escape-svg(url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">  <path d="M1.70711 0.292893C1.31658 -0.0976311 0.683418 -0.0976311 0.292893 0.292893C-0.0976311 0.683418 -0.0976311 1.31658 0.292893 1.70711L1.70711 0.292893ZM10.2929 11.7071C10.6834 12.0976 11.3166 12.0976 11.7071 11.7071C12.0976 11.3166 12.0976 10.6834 11.7071 10.2929L10.2929 11.7071ZM11.7071 1.70711C12.0976 1.31658 12.0976 0.683418 11.7071 0.292893C11.3166 -0.0976311 10.6834 -0.0976311 10.2929 0.292893L11.7071 1.70711ZM0.292893 10.2929C-0.0976311 10.6834 -0.0976311 11.3166 0.292893 11.7071C0.683418 12.0976 1.31658 12.0976 1.70711 11.7071L0.292893 10.2929ZM0.292893 1.70711L10.2929 11.7071L11.7071 10.2929L1.70711 0.292893L0.292893 1.70711ZM10.2929 0.292893L0.292893 10.2929L1.70711 11.7071L11.7071 1.70711L10.2929 0.292893Z" fill="#{$white}"/> </svg>'));
    top: 15px;
    right: 16px;
    opacity: 1;

    &:focus {
      outline: none!important;
      box-shadow: none!important;
    }
  }
}

.modal-promo-body {
  .promo-discount-copy {
    border-color: #EF764E!important;
    padding: 8px 17px;

    font-size: 15px;
    .text-for-copy{
      padding-left: 15px;
    }
  }
  .promo-discount-text{
    line-height: 17px;
  }
  .btn,{
    box-shadow: none!important;
    font-weight: 500!important;
  }
}
.modal-promo-time {
  background-color: #FAFAFA;
  border-radius: 10px;
  width: 250px;
  height: 30px;
  margin-top: -19px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.modal-backdrop{
  height: 100vh!important;
}