.img-title{
  padding: 22px;
  background-color: #FAFAFA;
  border-radius: 10px;
  margin-right: 36px;
  width: 100px;
  height: 100px;
  display:flex;
  justify-content: center;
  align-items: center;
  img {
    width: 56px;
    display: block;
    margin: 0 auto;
  }
  @include media-breakpoint-down(sm) {
    padding: 10px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 4px;
    img {
      width: 30px;
    }


  }
}
.order{
  .card-sm{
    @include media-breakpoint-down(sm) {
      border: none !important;
    }
  }
  &-body{
    padding: 70px 60px 32px 60px;
    @include media-breakpoint-down(lg) {
      padding: 35px 30px 15px 30px;
    }
    @include media-breakpoint-down(sm) {
      padding: 0 15px;
    }

  }
}
.add-reviews{
  &::before{
    position:absolute;
    content: "";
    background: url("../img/add-reviews.svg");
    width: 24px;
    right: 100%;
    height: 24px;
  }
}