.pay{

  .radio{
    padding: 11px 20px ;
    width: 100%;
    cursor: pointer;
    border:1px solid #E3E3E3;
    border-radius: 0.375rem;
    img{
      margin-right: 11px;
      width: 22px;
      height: 22px;

    }
    &__block{
      input[type="radio"]:checked ~ label {
        border:1px solid $primary;
        border-radius: 6px;
        &::after{
          position: absolute;
          content: "";
          background: url("../img/check.svg") no-repeat;
          background-position: center;
          width: 18px;
          height: 18px;
          right: 5%;
          top: 35%;
        }
      }
    }
  }

}