.sign{
  background: linear-gradient(231deg, rgba(131, 131, 131, 0.19) -15.05%, rgba(3, 155, 229, 0.19) -15.05%, rgba(219, 219, 219, 0.19) 70.22%, rgba(255, 255, 255, 0.19) 150.69%);
  height: 100%;
  .card{
    &-title{
      border-color: #F2F2F2!important;

    }

  }

}
.img-soc{
  padding: 16px 16px;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0px 1px 5px rgba(168, 168, 168, 0.25);
}
.line-or{
  border-top: 1px solid #F2F2F2;
  margin-top: 3%;
}
.text-or{
  color: #BFBFBF!important;
}
.input-group-text-start{
  margin-right: -32px;
  z-index: 100;
  padding: 0 14px;
  border-right: 0;
  background: $white;
}
.input-group-text-end{
  z-index: 100;
  padding: 0 14px;
  border-left: 0;
  background: $white;
  cursor: pointer;
  &::after{
    transition: $transition-base;
    content: "";
    background-image: url("../img/eye-noactive.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
  }
  &.show-pass::after {
    background-image: url("../img/eye-active.svg");
  }
}
.input-group-text-link{
  z-index: 100;
  padding: 0 15px;
  border-left: 0;
  background: $white;
  cursor: pointer;
  &::after{
    content: "";
    background-image: url("../img/copy-link.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
  }
}
.input-group-text-money{
  z-index: 100;
  padding: 0 15px;
  border-left: 0;
  background: $white;
  cursor: pointer;
  &::after{
    content: "";
    background-image: url("../img/money.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 10px;
    height: 10px;
  }
}
.text-change {
  font-weight: 600;
  @include media-breakpoint-down(md) {
    color: $secondary;
    padding-top: 35px;
    font-weight: 500;

  }
}
.button-copy {
  cursor: pointer;

}
.title-success {
  @include media-breakpoint-down(md) {
    font-size: 14px!important;
  }
}
.bill {
  textarea {
    resize: none; /* Запрещаем изменять размер */
    overflow: hidden;
  }
  .card {
    max-width: 770px;
    margin: auto;
    @include media-breakpoint-down(md) {
      margin: 0 -15px;
    }
    &-title {
      padding: 24px 43px;
      @include media-breakpoint-down(md) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    &-body {
      padding: 33px 43px 23px 43px;
      @include media-breakpoint-down(md) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    &-footer {
      border-top: 1px solid #F2F2F2;
      background-color: $white;
      padding: 19px 43px;
    }
  }
  .input-icon {
    padding-left: 20px!important;
    padding-right: 10px!important;
  }
}
.back {
  width: 18px;
  height: 18px;
  display: flex;
  margin-bottom: 1px;
  img {
    width: auto;
  }
}
.qrcode {
  width: 180px;
  height: auto;
  img {
    width: 100%;
    height: auto;

  }
}
.btn-pay {
  @include media-breakpoint-down(md) {
    display: block;
    width: 100%;
    .btn {
      width: 100%;
    }
  }
}
