<div class="card-body pb-5">
    <div class="ps-md-3 ps-0 ms-md-2 ms-0">
        <div class="row justify-content-md-start justify-content-center">
            <div class="col-xl-7 col-md-9 col-sm-16 col-24 pt-4">
                <form>
                    <div class="pb-4">
                        <label for="summa" class="form-label font-weight-700">Сумма</label>
                        <div class="mb-3 pt-2 input-group">
                            <input type="text" class="form-control js-balance-input balance-input" id="summa" aria-describedby="summa " placeholder="Введите сумму" pattern="^[0-9]+$">
                            <div class="input-group-text input-group-text-money"></div>
                        </div>
                        <div class="d-flex justify-content-between text-secondary font-weight-700">
                            <div class="js-add-balance add-balance" data-value="100">100₽</div>
                            <div class="js-add-balance add-balance" data-value="500">500₽</div>
                            <div class="js-add-balance add-balance" data-value="1000">1000₽</div>
                        </div>
                    </div>
                    <div class="pb-3">
                        <p class="font-weight-700">Метод оплаты</p>
                        <div class="d-flex position-relative radio__block py-2">
                            <input type="radio" class="m-0 opacity-0 position-absolute" name="plat" value="1" id="pay1"  />
                            <label class="radio d-inline-block " for="pay1">
                                <img src="./assets/img/credit-card.svg" alt="">Банковская карта
                            </label>
                        </div>
                        <div class="d-flex position-relative radio__block py-2">
                            <input type="radio" class="m-0 opacity-0 position-absolute" name="plat" value="1" id="pay2"  />
                            <label class="radio d-inline-block " for="pay2">
                                <img src="./assets/img/kiwi.svg" alt="">Qiwi Кошелек
                            </label>
                        </div>
                        <div class="d-flex position-relative radio__block py-2">
                            <input type="radio" class="m-0 opacity-0 position-absolute" name="plat" value="1" id="pay3"  />
                            <label class="radio d-inline-block " for="pay3">
                                <img src="./assets/img/yumoney.svg" alt="">ЮMoney
                            </label>
                        </div>
                        <div class="d-flex position-relative radio__block py-2">
                            <input type="radio" class="m-0 opacity-0 position-absolute" name="plat" value="1" id="pay4"  />
                            <label class="radio d-inline-block " for="pay4">
                                <img src="./assets/img/wmtran.svg" alt="">Webmoney
                            </label>
                        </div>
                    </div>
                    <div class="d-grid mb-3">
                        <button type="submit" class="btn btn-primary ">Оплатить</button>
                    </div>
                </form>
            </div>

            <div class="col-xl-15 col-md-13  col-24 offset-md-1 offset-0 ">
                <div class="row">
                    <div class="col-24 order-2 order-sm-1 pt-4 pt-sm-0">
                        <div class=" row bonus">
                            <div class="col-xl-14 col-24">
                                <p class="font-weight-700">Бонусная программа</p>
                                <div class="text-secondary">
                                    <p>Пополните баланс на сумму<br>
                                        от 10 000 рублей и получите бонусы.</p>
                                    <div>Пополните на 10 000₽ — <span class="text-primary">5% бонус</span></div>
                                    <div>Пополните на 30 000₽ — <span class="text-primary">10% бонус</span></div>
                                    <div>Пополните на 50 000₽ — <span class="text-primary">15% бонус</span></div>
                                </div>
                            </div>
                            <div class="col-xl-10 col-24 d-flex align-items-center justify-content-center">
                                <div>
                                    <img src="./assets/img/pay.png" alt="" class="img-pay">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-24 order-1 order-sm-2 px-md-0 px-3">
                        <div class="mt-4 d-flex flex-sm-row flex-column  align-items-center align-items-sm-start px-3 px-md-0">
                            <div><img src="./assets/img/limit.svg" alt="" class="me-2 pb-3 pb-sm-0"></div>
                            <div class="text-secondary text-center text-sm-start">На Ваш Email отправим чек после оплаты.</div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>