<div class="col-lg-12 col-24">
    <div class=" block-grey-new block-grey-bg block-border">
        <div>
            <div  class="text-center text-md-start">
                <p class="font-weight-700 font-size-18">Join us on Twitter<br>for discounts</p>
            </div>
            <div  class="text-center text-md-start">
                <p>Save up to 50% on all orders by using<br>our secret promo codes.</p>
            </div>
            <div class="d-none d-md-block w-100 pt-3">
                <a class="btn btn-primary" href="#" role="button">
                    Open in Twitter
                </a>
            </div>
        </div>
        <div class="block-img">
            <img src="assets/img/block-twit.svg" alt="">
        </div>
        <div class="d-grid d-md-none w-100 pt-3">
            <a class="btn btn-primary" href="#" role="button">
                Open in Twitter
            </a>
        </div>
    </div>
</div>
<div class="col-lg-12 col-24">
    <div class=" block-grey-new block-grey-bg">
        <div>
            <div class="text-center text-md-start">
                <p class="font-weight-700 font-size-18">20 000 users<br>trust us</p>
            </div>
            <div  class="text-center text-md-start notbr">
                <p>Read user reviews or share your experience<br>of using our platform.</p>
            </div>
            <div class="d-grid d-md-block w-100 pt-3">
                <a class="btn btn-primary" href="#" role="button">
                    Reviews
                </a>
            </div>
        </div>
        <div class="block-img block-img-girl">
            <img src="assets/img/block-girl.svg" alt="">
        </div>
    </div>
</div>