<div class="col-24 col-md-12 col-xl-6">
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="autoitem1" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" data-bs-popper="none" data-bs-auto-close="false">
            <img src="assets/img/inst-sm.svg" alt="" class="me-2">Instagram
        </button>
        <ul class="dropdown-menu" aria-labelledby="autoitem1">
            <li>
                <a class="dropdown-item d-flex align-items-center" type="button">
                    <span class="img me-2">
                        <img src="assets/img/icon/subs-sm2.svg" alt="">
                    </span>
                    Подписчики
                </a>
            </li>
            <li>
                <a class="dropdown-item d-flex align-items-center" type="button">
                    <span class="img me-2">
                        <img src="assets/img/icon/heart.svg" alt="">
                    </span>
                    Лайки
                </a>
            </li>
            <li>
                <a class="dropdown-item d-flex align-items-center" type="button">
                    <span class="img me-2">
                        <img src="assets/img/icon/show.svg" alt="">
                    </span>
                    Трансляции
                </a>
            </li>
            <li>
                <a class="dropdown-item d-flex align-items-center" type="button">
                    <span class="img me-2">
                        <img src="assets/img/icon/igtv.svg" alt="">
                    </span>
                    IGTV
                </a>
            </li>
            <li>
                <a class="dropdown-item d-flex align-items-center" type="button">
                    <span class="img me-2">
                        <img src="assets/img/icon/comments.svg" alt="">
                    </span>
                    Комментарии
                </a>
            </li>
            <li>
                <a class="dropdown-item d-flex align-items-center" type="button">
                    <span class="img me-2">
                        <img src="assets/img/icon/clock.svg" alt="">
                    </span>
                    Истории
                </a>
            </li>
            <li>
                <a class="dropdown-item d-flex align-items-center" type="button">
                    <span class="img me-2">
                        <img src="assets/img/icon/save.svg" alt="">
                    </span>
                    Сохранения
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="col-24 col-md-12 col-xl-6">
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="autoitem2" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" data-bs-popper="none" data-bs-auto-close="false">
            <img src="assets/img/inst-sm.svg" alt="" class="me-2">Instagram
        </button>
        <ul class="dropdown-menu" aria-labelledby="autoitem2">
            <li>
                <a class="dropdown-item d-flex align-items-center" type="button">
                    <span class="img me-2">
                        <img src="assets/img/icon/subs-sm2.svg" alt="">
                    </span>
                    Подписчики
                </a>
            </li>
            <li>
                <a class="dropdown-item d-flex align-items-center" type="button">
                    <span class="img me-2">
                        <img src="assets/img/icon/heart.svg" alt="">
                    </span>
                    Лайки
                </a>
            </li>
            <li>
                <a class="dropdown-item d-flex align-items-center" type="button">
                    <span class="img me-2">
                        <img src="assets/img/icon/show.svg" alt="">
                    </span>
                    Трансляции
                </a>
            </li>
            <li>
                <a class="dropdown-item d-flex align-items-center" type="button">
                    <span class="img me-2">
                        <img src="assets/img/icon/igtv.svg" alt="">
                    </span>
                    IGTV
                </a>
            </li>
            <li>
                <a class="dropdown-item d-flex align-items-center" type="button">
                    <span class="img me-2">
                        <img src="assets/img/icon/comments.svg" alt="">
                    </span>
                    Комментарии
                </a>
            </li>
            <li>
                <a class="dropdown-item d-flex align-items-center" type="button">
                    <span class="img me-2">
                        <img src="assets/img/icon/clock.svg" alt="">
                    </span>
                    Истории
                </a>
            </li>
            <li>
                <a class="dropdown-item d-flex align-items-center" type="button">
                    <span class="img me-2">
                        <img src="assets/img/icon/save.svg" alt="">
                    </span>
                    Сохранения
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="col-24 col-md-12 col-xl-6">
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="autoitem3" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" data-bs-popper="none" data-bs-auto-close="false">
            <img src="assets/img/inst-sm.svg" alt="" class="me-2">Instagram
        </button>
        <ul class="dropdown-menu" aria-labelledby="autoitem3">
            <li>
                <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/subs-sm2.svg" alt="">
                </span>
                    Подписчики
                </a>
            </li>
            <li>
                <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/heart.svg" alt="">
                </span>
                    Лайки
                </a>
            </li>
            <li>
                <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/show.svg" alt="">
                </span>
                    Трансляции
                </a>
            </li>
            <li>
                <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/igtv.svg" alt="">
                </span>
                    IGTV
                </a>
            </li>
            <li>
                <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/comments.svg" alt="">
                </span>
                    Комментарии
                </a>
            </li>
            <li>
                <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/clock.svg" alt="">
                </span>
                    Истории
                </a>
            </li>
            <li>
                <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/save.svg" alt="">
                </span>
                    Сохранения
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="col-24 col-md-12 col-xl-6">
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="autoitem4" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" data-bs-popper="none" data-bs-auto-close="false">
            <img src="assets/img/inst-sm.svg" alt="" class="me-2">Instagram
        </button>
        <ul class="dropdown-menu" aria-labelledby="autoitem4">
            <li>
                <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/subs-sm2.svg" alt="">
                </span>
                    Подписчики
                </a>
            </li>
            <li>
                <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/heart.svg" alt="">
                </span>
                    Лайки
                </a>
            </li>
            <li>
                <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/show.svg" alt="">
                </span>
                    Трансляции
                </a>
            </li>
            <li>
                <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/igtv.svg" alt="">
                </span>
                    IGTV
                </a>
            </li>
            <li>
                <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/comments.svg" alt="">
                </span>
                    Комментарии
                </a>
            </li>
            <li>
                <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/clock.svg" alt="">
                </span>
                    Истории
                </a>
            </li>
            <li>
                <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/save.svg" alt="">
                </span>
                    Сохранения
                </a>
            </li>
        </ul>
    </div>
</div>



