<div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="catitem1" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" data-bs-popper="none" data-bs-auto-close="false">
        <img src="/assets/img/inst-sm.svg" alt="" class="me-2">Instagram
    </button>
    <ul class="dropdown-menu" aria-labelledby="catitem1">
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/subs-sm2.svg" alt="">
                </span>
                Подписчики
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/heart.svg" alt="">
                </span>
                Лайки
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/show.svg" alt="">
                </span>
                Трансляции
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/igtv.svg" alt="">
                </span>
                IGTV
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/comments.svg" alt="">
                </span>
                Комментарии
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/clock.svg" alt="">
                </span>
                Истории
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/save.svg" alt="">
                </span>
                Сохранения
            </a>
        </li>
    </ul>
</div>
<div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="catitem2" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" data-bs-popper="none" data-bs-auto-close="false">
        <img src="/assets/img/inst-sm.svg" alt="" class="me-2">Instagram
    </button>
    <ul class="dropdown-menu" aria-labelledby="catitem2">
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/subs-sm2.svg" alt="">
                </span>
                Подписчики
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/heart.svg" alt="">
                </span>
                Лайки
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/show.svg" alt="">
                </span>
                Трансляции
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/igtv.svg" alt="">
                </span>
                IGTV
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/comments.svg" alt="">
                </span>
                Комментарии
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/clock.svg" alt="">
                </span>
                Истории
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/save.svg" alt="">
                </span>
                Сохранения
            </a>
        </li>
    </ul>
</div>
<div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="catitem3" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" data-bs-popper="none" data-bs-auto-close="false">
        <img src="/assets/img/inst-sm.svg" alt="" class="me-2">Instagram
    </button>
    <ul class="dropdown-menu" aria-labelledby="catitem3">
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/subs-sm2.svg" alt="">
                </span>
                Подписчики
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/heart.svg" alt="">
                </span>
                Лайки
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/show.svg" alt="">
                </span>
                Трансляции
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/igtv.svg" alt="">
                </span>
                IGTV
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/comments.svg" alt="">
                </span>
                Комментарии
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/clock.svg" alt="">
                </span>
                Истории
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/save.svg" alt="">
                </span>
                Сохранения
            </a>
        </li>
    </ul>
</div>
<div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="catitem4" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" data-bs-popper="none" data-bs-auto-close="false">
        <img src="/assets/img/inst-sm.svg" alt="" class="me-2">Instagram
    </button>
    <ul class="dropdown-menu" aria-labelledby="catitem4">
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/subs-sm2.svg" alt="">
                </span>
                Подписчики
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/heart.svg" alt="">
                </span>
                Лайки
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/show.svg" alt="">
                </span>
                Трансляции
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/igtv.svg" alt="">
                </span>
                IGTV
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/comments.svg" alt="">
                </span>
                Комментарии
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/clock.svg" alt="">
                </span>
                Истории
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/save.svg" alt="">
                </span>
                Сохранения
            </a>
        </li>
    </ul>
</div>
<div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="catitem5" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" data-bs-popper="none" data-bs-auto-close="false">
        <img src="/assets/img/inst-sm.svg" alt="" class="me-2">Instagram
    </button>
    <ul class="dropdown-menu" aria-labelledby="catitem5">
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/subs-sm2.svg" alt="">
                </span>
                Подписчики
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/heart.svg" alt="">
                </span>
                Лайки
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/show.svg" alt="">
                </span>
                Трансляции
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/igtv.svg" alt="">
                </span>
                IGTV
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/comments.svg" alt="">
                </span>
                Комментарии
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/clock.svg" alt="">
                </span>
                Истории
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/save.svg" alt="">
                </span>
                Сохранения
            </a>
        </li>
    </ul>
</div>
<div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="catitem6" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" data-bs-popper="none" data-bs-auto-close="false">
        <img src="/assets/img/inst-sm.svg" alt="" class="me-2">Instagram
    </button>
    <ul class="dropdown-menu" aria-labelledby="catitem6">
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/subs-sm2.svg" alt="">
                </span>
                Подписчики
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/heart.svg" alt="">
                </span>
                Лайки
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/show.svg" alt="">
                </span>
                Трансляции
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/igtv.svg" alt="">
                </span>
                IGTV
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/comments.svg" alt="">
                </span>
                Комментарии
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/clock.svg" alt="">
                </span>
                Истории
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/save.svg" alt="">
                </span>
                Сохранения
            </a>
        </li>
    </ul>
</div>
<div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="catitem7" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" data-bs-popper="none" data-bs-auto-close="false">
        <img src="/assets/img/inst-sm.svg" alt="" class="me-2">Instagram
    </button>
    <ul class="dropdown-menu" aria-labelledby="catitem7">
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/subs-sm2.svg" alt="">
                </span>
                Подписчики
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/heart.svg" alt="">
                </span>
                Лайки
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/show.svg" alt="">
                </span>
                Трансляции
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/igtv.svg" alt="">
                </span>
                IGTV
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/comments.svg" alt="">
                </span>
                Комментарии
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/clock.svg" alt="">
                </span>
                Истории
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/save.svg" alt="">
                </span>
                Сохранения
            </a>
        </li>
    </ul>
</div>
<div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="catitem8" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" data-bs-popper="none" data-bs-auto-close="false">
        <img src="/assets/img/inst-sm.svg" alt="" class="me-2">Instagram
    </button>
    <ul class="dropdown-menu" aria-labelledby="catitem8">
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/subs-sm2.svg" alt="">
                </span>
                Подписчики
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/heart.svg" alt="">
                </span>
                Лайки
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/show.svg" alt="">
                </span>
                Трансляции
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/igtv.svg" alt="">
                </span>
                IGTV
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/comments.svg" alt="">
                </span>
                Комментарии
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/clock.svg" alt="">
                </span>
                Истории
            </a>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center" type="button">
                <span class="img me-2">
                    <img src="assets/img/icon/save.svg" alt="">
                </span>
                Сохранения
            </a>
        </li>
    </ul>
</div>
