
<select class="selectpicker d-md-none d-flex dropdown-menu-end"  data-dropdownAlignend="true" id="orderSelect">
    <option value="1" data-content="<a href='#' class=''>Все <span class='badge bg-light'>5</span></a>" data-id="all"></option>
    <option value="2" data-content="<a href='#' class=''>В работе  <span class='badge bg-light'>5</span></a>" data-id="work"></option>
    <option value="3" data-content="<a href='#' class=''>Завершенные <span class='badge bg-light'>0</span></a>" data-id="finish"></option>
</select>
