<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#"  id="@@id" data-bs-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
        @@if (img != "") {<img src="./assets/img/@@img" alt="">}@@title
    </a>
    <div class="js-dropdown-columns dropdown-menu pe-5" aria-labelledby="@@id" data-bs-display="static">
        <a class="dropdown-item " href="#"> <img src="./assets/img/icon/subs-sm.svg" alt=""> Подписчики</a>
        <a class="dropdown-item " href="#"><span class="icon-like"></span> Лайки</a>
        <a class="dropdown-item " href="#"><span class="icon-views"></span> Просмотры</a>
        <a class="dropdown-item " href="#"><span class="icon-comments"></span> Комментарии</a>
        <a class="dropdown-item " href="#"><span class="icon-history"></span> Истории</a>
        <a class="dropdown-item " href="#"><span class="icon-save"></span> Сохранения</a>
        <a class="dropdown-item " href="#"><span class="icon-broad"></span> Трансляции</a>
        <a class="dropdown-item " href="#"><span class="icon-no-active"></span> IGTV</a>
        <a class="dropdown-item " href="#"><span class="icon-visit"></span> Визиты</a>
    </div>
</li>
