<div class="dropdown-menu pe-5 dropdown-menu-end" aria-labelledby="navLogin">
    <a class="dropdown-item text-secondary" href="mailto:advgamestop@gmail.com">advgamestop@gmail.com</a>
    <a class="dropdown-item " href="#"><span class="icon-home"></span> Кабинет</a>
    <a class="dropdown-item " href="#"><span class="icon-apps"></span> Сделать заказ</a>
    <a class="dropdown-item " href="#"><span class="icon-balance"></span> Пополнить баланс</a>
    <a class="dropdown-item " href="#"><span class="icon-settings"></span> Настройки</a>
    <a class="dropdown-item " href="#"><span class="icon-help"></span> Помощь</a>
    <a class="dropdown-item " href="#"><span class="icon-people"></span> Заработать</a>
    <a class="dropdown-item " href="#"><span class="icon-exit"></span> Выйти</a>
</div>