<footer class="footer mt-auto">
    <div class="container py-4">
        <div class="row align-items-end gy-4">
           <div class="col-lg-7 col-sm-12 col-24 mt-2">
               <a class="font-weight-700 link-white footer-logo" href="index.html" target="_blank"><img src="./assets/img/logo-footer.svg" alt=""> BOOSTKI</a>
               <div  class="text-gray-light mt-3">
                   <div class="mb-1">GRAAL GROUP LTD</div>
                   <div class="mb-1">Company number 14531800</div>
                   <div class="mb-1">OFFICE ADDRESS:</div>
                   <div class="mb-1">128 City Road, London, EC1V 2NX, UK</div>
               </div>

           </div>
            <div class="col-lg-4 col-sm-12 col-24">
               <ul  class="list-unstyled">
                   <li class="mt-3"><a class="link-light" href="" target="_blank">Quick order</a></li>
                   <li class="mt-3"><a class="link-light" href="reviews.html" target="_blank">Reviews</a></li>
                   <li class="mt-3"><a class="link-light" href="contacts.html" target="_blank">Contacts</a></li>
               </ul>
            </div>
            <div class="col-lg-4 col-sm-12 col-24 ">
                <ul  class="list-unstyled">
                    <li class="mt-3"><a class="link-light" href="policy.html" target="_blank">Terms of service </a></li>
                    <li class="mt-3"><a class="link-light" href="agreement.html" target="_blank">Refund Policy</a></li>
                    <li class="mt-3"><a class="link-light" href="cookies.html" target="_blank">Privacy Poliсy</a></li>
                </ul>
            </div>
            <div class="col-lg-5 col-sm-12 col-24 ">
                <ul  class="list-unstyled">
                    <li class="mt-3"><div class="text-light font-weight-700">Need help? </div></li>
                    <li class="mt-3"><a class="link-light" href="mailto:support@boostki.com" target="_blank">support@boostki.com</a></li>
                    <li class="mt-3"><a class="link-light" href="" target="_blank">Online Chat</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-24 py-0 ">
                <a class="d-flex mb-3" href="">
                    <img src="./assets/img/twit.svg" alt="" class="me-3">
                </a>
                <div class="d-flex ">
                    <div class="pay-block">
                        <img src="./assets/img/visa.svg" alt="">
                    </div>
                    <div class="pay-block">
                        <img src="./assets/img/master-card.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>