

        <select class="selectpicker" data-style="btn-white" name="selecttarrif" data-display="static" data-width="100%" data-title=null data-dropup-auto="false">
            <option data-content="<span class='d-sm-flex d-none'>Подписчики из России:  2₽ / 1 шт</span><span class='d-flex d-sm-none'> Эконом:  2₽ / 1 шт"></option>
            <option data-content="<span class='d-sm-flex d-none'>Подписчики из России:  3₽ / 1 шт</span><span class='d-flex d-sm-none'> Cтандарт:  3₽ / 1 шт"></option>
            <option data-content="<span class='d-sm-flex d-none'>Подписчики из России:  4₽ / 1 шт</span><span class='d-flex d-sm-none'> Премиум:  4₽ / 1 шт"></option>
            <option data-content="<span class='d-sm-flex d-none'>Подписчики из России:  4₽ / 1 шт</span><span class='d-flex d-sm-none'> Премиум:  4₽ / 1 шт"></option>
        </select>
    </div>
    <div class="mt-4">
        <label class="font-weight-700 pb-3">Ссылка на профиль</label>
        <input class="form-control" type="text" name="url" placeholder="https://www.instagram.com/username">
    </div>
    <div class="mt-4">
        <label class="font-weight-700 pb-3">Укажите количество</label>
        <div class="d-flex align-items-center mb-3">
            <div class="input-group  align-items-center  number-width">
                <button type="button" class="btn js-btn-number rounded-circle" data-type="minus" data-field="input_text1">
                    <span class="fa fa-minus"></span>
                </button>
                <input type="text" class="form-control js-input-number text-center text-truncate" name="input_text1" id="input_text1" min="250" max="10000000" value="250" pattern="^[0-9]+$">
                <button type="button" class="btn js-btn-number rounded-circle" data-type="plus" data-field="input_text1">
                    <span class="fa fa-plus"></span>
                </button>

            </div>
            <div class="price-block"> = <span class="price_total">10761.6</span> руб.</div>
        </div>
    </div>
    <div class="mt-4 d-flex">
        <img src="./assets/img/limit.svg" alt="" class="me-2"><div class="text-secondary"> <span class="d-md-inline d-none">Лимиты: от</span> <span class="d-inline d-md-none">От </span><span  class="text-secondary">250 до 10 000 000 подписчиков.</span></div>
    </div>
    <div class="mt-4">
        <div class="d-flex justify-content-between">
            <label class=" pb-3 w-100">
                <div class="d-flex justify-content-between">
                    <div class="font-weight-700">Промокод</div>
                    <a href="" class="link-info d-md-block d-none">
                        <img src="assets/img/telegram-promo.svg" class="me-1" alt="">
                        Получить промокод
                    </a>
                </div>
                
                
            </label>
            <div class="form-check form-switch d-block d-md-none">
                <input class="form-check-input" type="checkbox" role="switch" id="checkpromo">
            </div>
        </div>
        <div class="position-relative align-items-center justify-content-end promocode" id="promo">
            <input class="form-control font-weight-700 text-truncate text-truncate-promo" type="text"  name="promo" placeholder="Введите, если есть">
            <a class="link-info position-absolute pe-3 activate-promo" href="">Активировать</a>
            <a class="link-danger position-absolute pe-3 d-none cancel-promo" href="">Отменить</a>
        </div>
    </div>
    <div class="mt-4 d-md-block d-grid">
        <a class="btn btn-primary mt-2" href="#" role="button">Продолжить</a>
    </div>
    <div class="text-center  mt-5">
        <a href="" class="link-info d-block d-md-none mt-5">
            <img src="assets/img/telegram-promo.svg" class="me-1" alt="">
            Получить промокод
        </a>
    </div>
