<div class="offcanvas offcanvas-end d-flex d-lg-none" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header pt-0">
    <a class="navbar-brand" href="/" ><img src="./assets/img/logo.svg" alt=""> SMM<span class="text-primary">TASK</span></a>
    <button type="button" class="btn-close btn-close-offcanvas text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    @@if (show == "all" || show == "login") {
      <div class="hstack text-secondary mb-4 mt-n2">
        <img width="50" src="./assets/img/avatar.png" alt="" class="me-2"> advgamestop@gmail.com
      </div>
    }

    <div class="vstack">
      <a href="#" class="btn btn-outline-light btn-fast text-dark border-1"><span class="icon-list-plus pe-2"></span> Быстрый заказ</a>
    </div>

    @@if (show == "all" || show == "login") {
      <ul class="navbar-nav navbar-primary justify-content-end flex-grow-1 pe-3 mt-4">
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="icon-home pe-2"></span> Кабинет</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="icon-balance pe-2"></span> Пополнить</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="icon-settings pe-2"></span> Настройки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="icon-help pe-2"></span> Помощь</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="icon-people pe-2"></span> Заработать</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="icon-exit pe-2"></span> Выйти</a>
        </li>
      </ul>
    }

    @@if (show == "simple") {
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mt-4">
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="icon-home pe-2"></span> Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="icon-heart pe-2"></span> Отзывы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="icon-help pe-2"></span> Помощь</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="icon-star pe-2"></span> Контакты</a>
        </li>
      </ul>
    }

    <div class="d-flex mt-4">
      <img src="./assets/img/telegram-md.svg" alt="" class="me-3">
      <div class="bubble">
        Публикуем промокоды<br> на скидки в Telegram канале
      </div>
    </div>

    @@if (show == "simple") {
      <div class="vstack gap-3 mt-5 pt-4">
        <a class="btn btn-primary" href="#">Войти в кабинет</a>
        <a class="btn btn-outline-light text-dark border-1" href="#">Регистрация</a>
      </div>
      <div class="line-head"></div>
      <div class="catalog  ">
        <div class=" pt-3">
          <h2 class="text-black font-weight-700"><span class="text-primary">Каталог</span> услуг</h2>
          <p class="text-secondary">Регистрация не потребуется.</p>
        </div>
        @@include('./_catalog.html')
      </div>

    }

  </div>
</div>