@@include('./_header_promo.html')
<header class="header fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom menu-main">
    <div class="container justify-content-between">

      <div class="d-flex align-items-center justify-content-start ">
        <a class="navbar-brand" href="/" ><img src="./assets/img/logo.svg" alt=""> SMM<span class="text-primary">TASK</span></a>
        @@include('./_header_links.html')
      </div>
      <ul class="navbar-nav">
        <li class="nav-item d-none d-lg-flex">
          <a class="nav-link text-dark align-items-center d-flex a-info" href="#"><span class="icon-come pe-2"> </span> Войти</a>
        </li>
        <li class="nav-item d-flex d-lg-none">
          <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <img src="./assets/img/burger.svg" alt="">
          </a>
        </li>
      </ul>

      @@include('./_header_offcanvas.html', {show: "simple"})

    </div>
  </nav>

  @@include('./_header_social.html')

</header>
@@include('./_padding.html', {c: ""})