<nav class="navbar navbar-expand navbar-light bg-white border-bottom menu-other d-none d-lg-flex">
  <div class="container justify-content-between">

      <ul class="navbar-nav align-items-center w-100 justify-content-between">

        @@loop('_dropdown-social.html', [
          { id: "navInst",   img: "inst-sm.svg",     title: "Instagram" },
          { id: "navTel",    img: "telegram-sm.svg", title: "Telegram" },
          { id: "navYT",     img: "youtube-sm.svg",  title: "YouTube" },
          { id: "navTiktok", img: "tiktok-sm.svg",   title: "TikTok" },
          { id: "navVK",     img: "vk-sm.svg",       title: "Вконтакте" },
          { id: "navOK",     img: "ok-sm.svg",       title: "Одноклассники" },
          { id: "navTwit",   img: "twit-sm.svg",     title: "Twitter" },
          { id: "navLikee",  img: "likee-sm.png",    title: "Likee" },
          { id: "navOther",  img: "",                title: "Другие" }
        ])

      </ul>

  </div>
</nav>

