<ul class="navbar-nav flex-row align-items-center">
  <li class="nav-item dropdown">
    <span class="d-none d-lg-inline text-secondary font-weight-700">Баланс: </span><span class="font-weight-700 balance">0.00 руб</span>
    <a href="#" class=""><img src="./assets/img/add-balance.svg" alt=""></a>
  </li>
  <li class="nav-item dropdown d-none d-lg-flex">
    <a class="nav-link dropdown pe-0 avatar" href="#" id="navLogin" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="./assets/img/avatar.png" alt="" class="img-avatar">
    </a>
    @@include('./_dropdown-login.html')
  </li>
  <li class="nav-item d-flex d-lg-none ms-4">
    <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <img src="./assets/img/burger.svg" alt="">
    </a>
  </li>

</ul>