<nav class="menu-account navbar navbar-light bg-white d-flex d-lg-none">
  <div class="container align-items-center">

      <div class="hstack text-secondary">
          <img  src="./assets/img/avatar.png" alt="" class="me-2 img-avatar"> advgamestop@gmail.com
      </div>

  </div>
</nav>

