<ul class="navbar-nav d-none d-lg-flex font-weight-bold justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="index.html">Главная</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="reviews.html">Отзывы</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="help.html">Помощь</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="contacts.html">Контакты</a>
  </li>
</ul>