<div class="js-block-promo block-promo py-2" style="display:none">
    <div class="container">
        <div class="d-flex justify-content-between">

            <div class="d-flex">
                <div class="promo-discount d-flex align-items-center">
                    <div class="promo-discount-count promo-color">-10%</div>
                    <div>
                        <div class="promo-discount-text font-weight-700">
                            <span class="promo-color">Cкидка</span><br>на все заказы
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center">

                    <div class="d-flex align-items-center">
                        <div class="promo-discount-copy">
                            Промокод: <span class="promo-color text-for-copy font-weight-700">HELP10</span>
                        </div>
                        <div>
                            <button class="btn btn-primary btn-nohover btn-copy js-promo-copy">Скопировать</button>
                        </div>
                        <div class="promo-copy">Скопировано в буфер обмена</div>
                    </div>
                </div>
            </div>

            <div class="d-flex">
                <div class="d-flex align-items-center">
                    <div class="text-secondary promo-discount-text">
                        Успейте<br>активировать
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="promo-time">
                            05:29
                        </div>
                        <button class="js-promo-close promo-close btn btn-white">
                            <img src="assets/img/close-promo.svg" alt="">
                        </button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>