<header class="header fixed-top">

  <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom menu-main">
    <div class="container justify-content-between ">

      <div class="d-flex align-items-center justify-content-start ">
        <a class="navbar-brand" href="/" ><img src="./assets/img/logo.svg" alt=""> SMM<span class="text-primary">TASK</span></a>
        @@include('./_header_links.html')
      </div>
      @@include('./_header_balance.html')

      @@include('./_header_offcanvas.html', {show: "all"})

    </div>
  </nav>

  @@include('./_header_account.html')
  @@include('./_header_social.html')

</header>
@@include('./_padding.html', {c: "header__padding--account"})