<div class="col-xl-20 col-24 offset-xl-4  pb-sm-5 pb-0">
    <div class="row" >
        <div class="col-md-12 col-24 mt-3 ">
            <div class="card card-baner-left border-0 text-white h-100 justify-content-center">

                <div class="card-body p-xl-5 p-md-4 p-sm-5 p-4">
                    <h4 class="font-weight-700 text-md-start text-center">Партнерская программа <br  class="d-none d-sm-block">для тех, кто хочет зарабатывать</h4>
                    <p class="py-xl-4 py-md-3 py-sm-4 py-3 text-md-start text-center">Получайте 7% от суммы всех <br>заказов привлеченных <br>клиентов на постоянной основе. </p>
                    <div class="w-100">
                        <div class="d-grid d-sm-block text-md-start text-center ">
                            <a class="btn btn-white" href="#" role="button">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-24 mt-3">
            <div class="card border-0 card-baner-right text-white h-100 justify-content-center">
                <div class="card-body p-xl-5 p-md-4 p-sm-5 p-4">
                    <h4 class="card-title font-weight-700 text-md-start text-center">Дарим промокоды и проводим <br class="d-block d-md-none">розыгрыши в Телеграм канале</h4>
                    <p class="card-text py-xl-4 py-md-3 py-sm-4 py-3 text-md-start text-center">Начни экономить и выигрывай <br  class="d-none d-md-block">денежные призы. Подписывайся на наш <br class="d-none d-md-block">канал и следи за публикациями.</p>
                    <div class="w-100">
                        <div class="d-grid d-sm-block text-md-start text-center ">
                            <a class="btn btn-white" href="#" role="button">Подписаться</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>