
    <div class="card-body card-item border-bottom py-3">
        <div class="ps-md-3 ps-0 ms-md-2 ms-0 pt-1">
            <div class="row py-sm-1 py-4">
                <div class="col-xxl-5 col-lg-6 col-sm-7 col-24 order-3 order-sm-1 ">
                    <p class="text-black item-grey mb-0">11 октября 2021 в 21:33</p>
                </div>
                <div class="col-xxl-13 col-lg-12 col-sm-11 col-24 order-1 order-sm-2 d-flex align-items-center justify-content-sm-start justify-content-between">
                    <img src="./assets/img/arrow-up.svg" alt="" width="16px" height="16px" class="me-1 mb-sm-0 mb-3 add-card order-2 order-sm-1">
                    <p class=" text-black mb-sm-0 mb-3 order-1 order-sm-2">Банковская карта</p>
                </div>
                <div class="col-sm-6 col-24 order-2 order-sm-3 font-size-18">
                    <p class="text-success item-success mb-sm-0 mb-3">+10 000</p>
                </div>
            </div>
        </div>
    </div>