<div class="card-body card-item border-bottom py-3">
    <div class=" ps-md-3 ps-0 ms-md-2 ms-0 pt-1  ">
        <div class="row ">
            <div class="col-sm-7 col-24 order-3 order-sm-1">
                <p class="text-black mb-0">11 октября 2021 в 21:33</p>
            </div>
            <div class="col-sm-10 col-24 order-1 order-sm-2">
                <p class="text-black mb-0">test@gmail.com</p>
            </div>
            <div class="col-sm-7 col-24 order-2 order-sm-3">
                <p class="item-success mb-0">125₽</p>
            </div>
        </div>
    </div>
</div>