<div class="col-xl-4 col-5 d-none d-lg-block menu-left">
  <div class="card card-menu mb-3">
    <div class="card-body px-0 pt-0">
      <ul class="nav flex-column nav-menu">
        <li class="nav-item">
          <a class="nav-link @@if (link == 1) {active} text-secondary" href="#"><span class="icon-home px-1"></span> Кабинет</a></a>
        </li>
        <li class="nav-item">
          <a class="nav-link @@if (link == 2) {active} text-secondary" href="#"><span class="icon-apps px-1"></span> Сделать заказ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link @@if (link == 3) {active} text-secondary" href="#"><span class="icon-balance px-1"></span> Пополнить</a>
        </li>
        <li class="nav-item">
          <a class="nav-link @@if (link == 4) {active} text-secondary" href="#"><span class="icon-settings px-1"></span> Настройки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link @@if (link == 5) {active} text-secondary" href="#"><span class="icon-help px-1"></span> Помощь</a>
        </li>
        <li class="nav-item">
          <a class="nav-link @@if (link == 6) {active} text-secondary" href="#"><span class="icon-people px-1"></span> Заработать</a>
        </li>
        <li class="nav-item">
          <a class="nav-link @@if (link == 7) {active} text-secondary" href="#"><span class="icon-exit px-1"></span> Выйти</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="pt-1">
    <div class="card block-link">
      <div class="card-body d-flex px-2 ">
        <a href="" class="stretched-link text-secondary"><img src="./assets/img/star-lk.svg" alt="" class="mx-2 mt-n1"> Оставить отзыв</a>
      </div>
    </div>
    <div class="card block-link mt-2 ">
      <div class="card-body d-flex px-2">
        <a href="" class="stretched-link text-secondary"><img src="./assets/img/poll.svg" alt="" class="mx-2 "> Пройти опрос</a>
      </div>
    </div>
  </div>
</div>