<div class="modal fade modal-main" id="modal"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable ">
        <div class="modal-content">
            <div class="modal-header mb-1">
                <p class="font-size-24 font-weight-700">Описания тарифов</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">

                <div class="row ">
                    @@include('./_tarif.html')
                    @@include('./_tarif.html')
                    @@include('./_tarif.html')
                    @@include('./_tarif.html')
                    @@include('./_tarif.html')
                    @@include('./_tarif.html')
                </div>

            </div>
            <div class="modal-footer mt-1">
                <button type="button" class="btn btn-primary my-md-5 my-3 px-5" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>