<div class="modal fade" id="modal-promo"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable ">
        <div class="modal-content">
            <div class="modal-header modal-header-promo mb-1">
                <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center">
                        <div class="modal-header-promo-img">
                            <img src="assets/img/gift.svg" alt="">
                        </div>
                        <div class="font-size-14 font-weight-700 text-white text-start">Антикризисное<br>предложение</div>
                    </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-promo-time">
                <div class="text-secondary font-weight-600 pe-1">Осталось:  </div>
                <div class="text-black font-weight-600"> 05:29</div>
            </div>
            <div class="modal-body modal-promo-body">

                <div class="promo-discount-text pb-3 ">
                    <div class="promo-color font-weight-700">
                        Cкидка 10%
                    </div>
                    <div>
                        на все заказы
                    </div>
                </div>
                <div class="promo-discount-copy d-flex align-items-center">
                    Промокод <span class="promo-color text-for-copy font-size-18 font-weight-700">HELP10</span>
                </div>
                <div class="d-grid mt-3">
                    <button class="btn btn-primary btn-nohover js-promo-copy">Скопировать</button>
                </div>
                <div class="promo-copy">Скопировано в буфер обмена</div>
                <div class="d-grid mt-3">
                    <button type="button" class="btn btn-white " data-bs-dismiss="modal">Закрыть</button>
                </div>

            </div>
        </div>
    </div>
</div>