<div class="col-lg-6 col-sm-12 col-24 pt-5">
    <div class="card border-1 rounded-2 mx-2 mx-sm-3 mx-lg-0">
        <div class="card-body text-center py-xxl-5 py-lg-4 py-md-5 py-sm-3 py-5">
            <img src="./assets/img/inst-order.png" alt="" class="pb-4">
            <p class="font-weight-700 ">Лайки на посты</p>
            <p>Цены от 12 копеек.</p>
            <a href="" class="link-info pb-4">Заказать</a>
        </div>
    </div>
</div>