<select class="selectpicker" data-style="btn-white"  data-width="100%" name="selectservice" data-display="static" data-dropup-auto="false">
    <option data-content="<span class='icon-subs-sm pe-2'></span> Подписчики" value="subs">Подписчики</option>
    <option data-content="<span class='icon-like  pe-2'></span> Лайки" value="like">Лайки</option>
    <option data-content="<span class='icon-views  pe-2'></span> Просмотры" value="views">Просмотры</option>
    <option data-content="<span class='icon-comments  pe-2'></span> Комментарии" value="comments">Комментарии</option>
    <option data-content="<span class='icon-history  pe-2'></span> Истории" value="history">Истории</option>
    <option data-content="<span class='icon-save  pe-2'></span> Сохранения" value="save">Сохранения</option>
    <option data-content="<span class='icon-broad  pe-2'></span> Трансляции" value="broad">Трансляции</option>
    <option data-content="<span class='icon-no-active  pe-2'></span> IGTV" value="IGTV">IGTV</option>
    <option data-content="<span class='icon-visit  pe-2'></span> Визиты" value="visit">Визиты</option>


</select>












