<select class="selectpicker" data-style="btn-white"  name="selectPlatform"  data-width="100%" data-display="static" data-dropup-auto="false">
    <option data-content="<img src='./assets/img/inst-sm.svg' class='me-3'>Instagram" value="instagram">Instagram</option>
    <option data-content="<img src='./assets/img/telegram-sm.svg' class='me-3'>Telegram" value="Telegram">Telegram</option>
    <option data-content="<img src='./assets/img/youtube-sm.svg' class='me-3'>YouTube" value="YouTube">YouTube</option>
    <option data-content="<img src='./assets/img/tiktok-sm.svg' class='me-3'>TikTok" value="TikTok">TikTok</option>
    <option data-content="<img src='./assets/img/twit-sm.svg' class='me-3'>Twitter" value="Twitter">Twitter</option>
    <option data-content="<img src='./assets/img/onlyfans.svg' class='me-3'>OnlyFans" value="OnlyFans">OnlyFans</option>
    <option data-content="<img src='./assets/img/cloubhouse.svg' class='me-3'>Cloubhouse" value="Cloubhouse">Cloubhouse</option>
    <option data-content="<img src='./assets/img/vk-sm.svg' class='me-3'>Вконтакте" value="vk">Вконтакте</option>
    <option data-content="<img src='./assets/img/ok-sm.svg' class='me-3'>Одноклассники" value="ok">Одноклассники</option>
    <option data-content="<img src='./assets/img/fb-sm.svg' class='me-3'>Facebook" value="Facebook">Facebook</option>
    <option data-content="<img src='./assets/img/yadz-sm.png' class='me-3'>ЯндексДзен" value="yadz">ЯндексДзен</option>
    <option data-content="<img src='./assets/img/gp-sm.png' class='me-3'>Магазины приложений" value="gp">Магазины приложений</option>
</select>












