<div class="col-24">
    <div class="card border-0  rounded-0">
        <div class="card-body ps-0 border-bottom">
            <div class="row">
                <div class="col-24">
                    <p class="font-weight-700">Название тарифа</p>
                </div>
                <div class="col-24">
                    <p>Живые подписчики, возможен небольшой процент списаний. Если будут отписки — восстановим их в течение 30 дней автоматически. Можно заказывать повторно после выполнения.</p>
                </div>
                <div class="col-lg-6 col-24 d-flex align-items-center">
                    <div class="font-weight-700 me-3">Качество:</div>
                    <div class="review__list-star"></div>
                    <div class="review__list-star"></div>
                    <div class="review__list-star"></div>

                </div>
                <div class="col-lg-6 col-24 d-flex align-items-center">
                    <div class="font-weight-700 me-3">Скорость:</div>
                    <div class="review__list-star"></div>
                    <div class="review__list-star"></div>
                    <div class="review__list-star"></div>
                    <div class="review__list-star"></div>
                    <div class="review__list-star"></div>
                </div>
            </div>
        </div>
    </div>
</div>